/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-image:url(Image/imagefondlogin.jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    
}

.loginscreen{
    background-image:url(Image/1669916863_1-pibig-info-p-krasivie-oboi-na-rabochii-stol-kosmos-oboi-1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,h2{
    text-align: center;
    color: aliceblue;
    font-family: "Brush Script MT", cursive;
}

h1{
  font-size: 50px;
}

.sec{
    padding: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.coliste{
    background-color: grey;
    border-radius: 1ch;
    margin: 5px;
    margin-bottom: 10px;
}

.bp{
    background-color: aliceblue;
}

.ti{
    height: fit-content;
    background-color: none;
}

.boxes{
    position: relative;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
}