<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="bd-highlight d-flex justify-content-center">
            <h1>Taches</h1>
            <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>

        </div>
        
        <div class="container ">
            <div class="row">
                <!--UNDEFINED-->
                <div class="col bg-info">
                    <h1>Undifined</h1>
                    <div class="d-flex flex-row justify-content-center ">
                        <input id="inputAjoutTache1" class="saisieInput1" type="text" name="tache" placeholder="tache" [(ngModel)]="newTache.titre">
                        <button id="buttonAjoutTache1" class="bg-info"class="btn btn-primary" value="Ajouter" (click)="ajouter('undefined')">Ajouter</button>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="row">
                        <div id="listeTaches" class="d-flex  flex-column">
                            <div class="d-flex" *ngFor="let tache of (taches | filtreTache:filter)" >
                                <div *ngIf="(tache.statut == 'undefined')">
                                <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                                <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' ">{{tache.titre}}</div>
                                <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!--EN ATTENTE-->
                <div class="col bg-warning">
                    <h1>En attente</h1>
                    <div class="d-flex flex-row justify-content-center ">
                        <input id="inputAjoutTache2" class="saisieInput2" type="text" name="tache" placeholder="tache">
                        <button id="buttonAjoutTache2" class="btn btn-primary" value="Ajouter" (click)="ajouter('attente')">Ajouter</button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="row">
                        <div id="listeTaches" class="d-flex  flex-column">
                            <div class="d-flex justify-content-between m-1" *ngFor="let tache of (taches | filtreTache:filter)">
                                <div *ngIf="(tache.statut == 'actif')">
                                    <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                                <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' ">{{tache.titre}}</div>
                                <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!--EN COURS -->
                <div class="col bg-success">
                    <h1>En cours</h1>
                    <div class="d-flex flex-row justify-content-center ">
                        <input id="inputAjoutTache3" class="saisieInput" type="text" name="tache" placeholder="tache" >
                        <button id="buttonAjoutTache3" class="btn btn-primary" value="Ajouter" (click)="ajouter('enCours')">Ajouter</button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="row">
                        <div id="listeTaches" class="d-flex  flex-column">
                            <div class="d-flex justify-content-between m-1" *ngFor="let tache of (taches | filtreTache:filter)">
                                <div *ngIf="(tache.statut == 'enCours')">
                                <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                                <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' ">{{tache.titre}}</div>
                                <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TERMINEES -->
                <div class="col bg-info">
                    <h1>Termine</h1>
                    <div class="d-flex flex-row justify-content-center ">
                        <input id="inputAjoutTache4" class="saisieInput" type="text" name="tache" placeholder="tache">
                        <button id="buttonAjoutTache4" class="btn btn-primary" value="Ajouter" (click)="ajouter('termine')">Ajouter</button>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div id="listeTaches">
                            <div *ngFor="let tache of (taches | filtreTache:filter)">
                                <div *ngIf="(tache.statut == 'termine')">
                                <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                                <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' ">{{tache.titre}}</div>
                                <button class=" btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex flex-row justify-content-center">
            <button class="btn btn-outline-secondary m-1" (click)="change('Tous')">Tous</button>
            <button class="btn btn-outline-secondary m-1" (click)="change('Actif')">Actif</button>
            <button class="btn btn-outline-secondary m-1" (click)="change('Termine')">Terminé</button>
        </div> -->
    </div>
</div>